<% if user_signed_in? %>
	<h1><%= current_user.name.capitalize %>'s maps</h1>
	
	<% @maps.each do |map| %>
	  <ul>
	    <li><%=link_to map.name, map %> (<%=h map.point_counts %> waypoint)</li>
	  </ul>
	<% end %>
	
	<br />

	<%= link_to 'New map', new_user_map_path(current_user) %>
<% else %>
	<h2>Welcome! <%= link_to "sign up", new_user_registration_path %> or <%= link_to "sign in", new_user_session_path %> to start creating maps</h2>
<% end%>