<% form_for([@map, Point.new]) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :latitude %>
    <%= f.text_field :lat %>
    <%= f.label :longitude %>
    <%= f.text_field :lon %>
    <%= f.submit 'Create', :class => "awesome blue button" %>
  </p>
<% end %>


<%= render :partial => 'map', :object => @map_view %> 

<%= link_to 'Edit', edit_map_path(@map) %>

<%= render :partial => 'path_sets/path_set', :collection => @path_sets, :locals => { :map => @map } %> 