
<h1 class="map-name"><%=h @map.name %></h1>

<%= link_to '< All Maps', user_maps_path(current_user), :class => "blue awesome small button" %>
<%= link_to 'Edit Map', edit_map_path(@map), :class => "awesome small button" %>
<%= link_to 'Delete Map', @map, :method => :delete, :confirm => 'Are you sure?', :class => "red awesome small button" %>

<% form_for([@map, Point.new]) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :latitude %>
    <%= f.text_field :lat %>
    <%= f.label :longitude %>
    <%= f.text_field :lon %>
    <%= f.submit 'Create!', :class => "awesome blue button" %>
  </p>
<% end %>


<%= render :partial => 'map', :object => @map_view %>
 
<br/><br/>



<%= render :partial => 'path_sets/path_set', :collection => @path_sets, :locals => { :map => @map } %> 