<div class="path-set">
	<h2>Waypoint Set: <%= path_set.name unless path_set.name.nil? %></h2>
	<table>
	<tr>
		<th>Latitude (semicircle)</th>
		<th>Longitude (semicircle)</th>
		<th>Latitude (degrees)</th>
		<th>Longitude (degrees)</th>
		<th></th>
		<th></th>
	</tr>

	<% path_set.paths.each do |path| %>
	<% if path.point %>
		<tr>
			<td><%=h path.point.lat_sc %></td>
			<td><%=h path.point.lon_sc %></td>
			<td><%=h path.point.lat %></td>
			<td><%=h path.point.lon %></td>
			<td><%= link_to_function 'Show',"marker_group.showMarker(#{path.point.id});return false", :class => "awesome small button" %></td>
			<td><%= link_to 'Destroy', [ :id => path.point,:map_id => map.id], :confirm => 'Are you sure?', :method => :delete, :class => "orange awesome small button" %></td>			
		</tr>
	<% end %>
	<% end %>
	</table>
</div>